* {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    list-style: none;
    text-decoration: none;


    
} 





nav {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

}


.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 80px;
    text-align: center;
    width: 95vw;
    justify-content: center;

    
   

}

nav > ul .litwo a { 
    
    color: #353a3a;
    font-weight: light;
    padding-bottom: 10px;
    transition: all 400ms ease-in-out;
}