
body {
    font-family: AUTHENTICSans-60, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
}

.side-nav {
height: 100%;
width: 350px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background: rgb(180,217,233);
background: linear-gradient(180deg, rgba(180,217,233,1) 0%, rgba(65, 65, 83, 0.322) 98%);
overflow-x: hidden;
padding-top: 20px;
box-shadow: 0 0 0 2px #172137;
box-shadow: 0 0 2px 0px #172137;
animation-name: appear;
animation-duration: 2s;
animation-timing-function: ease-in-out;
}


.char-container {
    display: grid;
    position: relative;
   
    
}

 .port {
    height: 115vh; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    mask-image: linear-gradient(rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    z-index: 10; 
    position: relative;
    filter: contrast(100%);
    
}

/* .port {
    animation-name: go-in;
    animation-duration: 4s;
    transform: translateY(50px);
} */



.circle {
    position: absolute;
    background: #9D9D9D;
    height: 90vh;
    width: 95vh;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin-left: 600px;
    mask-image: linear-gradient(rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    box-shadow: 0 0 0 2px #5D92D5;
    
   
}

.circle img {
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 60%;
    filter: blur(8px);
    background: rgb(157,157,157);
    mask-image: linear-gradient(180deg, rgba(157,157,157,1) 0%, rgba(248,242,242,1) 98%);
    opacity: .55;
    transition: .25s;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    
    
}

.char-container {
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
}

.char-portrait img, .circle {
    grid-area: 1 / 1;
}

.chname {
    font-weight: bold;
    font-style: italic;
    font-size: 144px;
    display: block;
    margin-right: auto;
    position: absolute;
    top: 0;
    margin-left: 61%;
    z-index: 10;
    color: #161E32;
    filter: drop-shadow(2px 4px 8px #77899d85);

}

.chdesc {
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    position: absolute;
    top: 0;
    margin-left: 64%;
    margin-top: 22%;
    z-index: 10;
    color: #172137;
    filter: drop-shadow(2px 4px 8px #77899d85);
}
.rarity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    margin-left: 60%;
    margin-top: 32%;
    z-index: 10;
    height: 13vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 40%;
    height: 100px;
    filter: drop-shadow(2px 4px 8px #77899d85);
}

.rarity2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    margin-left: 62%;
    margin-top: 35%;
    z-index: 10;
    height: 13vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 30%;
    height: 100px;
    filter: drop-shadow(2px 4px 8px #77899d85);
    
    
}

.elem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    margin-left: 20%;
    margin-top: auto;
    height: 13vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 32%;
    height: auto;
    opacity: 0.5;
    filter: drop-shadow(2px 4px 8px #77899d85);
}

.allChar {
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    justify-items: center; 
    text-align: center;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}

.char-name {
    letter-spacing: 1px;
    display: block;
    color: #172137;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 800;
    filter: drop-shadow(2px 4px 8px #ebebeb);
    cursor: pointer;
    transition: all 400ms ease-in-out;

}

.char-name:hover {
    filter: drop-shadow(2px 4px 8px #17213773);
}

.char-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px -2px rgb(109, 107, 107);
    box-shadow: 0 0 0 2px #f8cc47a2;
    transition: box-shadow 0.6s ease-in-out;
    transition: all 400ms ease-in-out;
    filter: drop-shadow(2px 4px 8px #B4D9E9);
    background-color: #5D92D5;
    filter: contrast(100%);
    image-rendering: pixelated;
    image-rendering: auto;
    image-rendering: crisp-edges;
    cursor: pointer;
    
}

.char-image:hover {
    border: 5px solid #F4F5F7;
    box-shadow: 0 0 0 10px #D3BD94;
    box-sizing: border-box;
    animation-timing-function: ease-in-out;
    transition: all 400ms ease;
    opacity: 0.75;
}



.particles {
    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
    z-index: 100;
    opacity: 0.8;
    
}


/* @keyframes go-in {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(50px);
    }
  } */

  @keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

