
.side-nav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #A3B6BC;
overflow-x: hidden;
padding-top: 20px;
}


.char-container {
    display: grid;
   

    
}


.char-container > .char-portrait img {
    height: 115vh; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    mask-image: linear-gradient(rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 10; 
    

}



.circle {
    
    background: lightblue;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.char-portrait img, .circle {
    grid-area: 1 / 1;
}