.hero-section {
    height: 50vh;
    align-items:  center;
    
}

.hero-logo img {
    height: 15vh;
    margin-left: 26%;
    display: block;
    padding-top: 100px;
    margin-right: auto;  
    filter: drop-shadow(5px 5px 15px #1C7075);
 
}

.hero-img img {
   position: absolute;
    display: block;
    margin-left: 70%;
    margin-right: auto;
    filter: contrast(100%);
    height: 115vh; 
    display: block;
    left: 0px; 
    top: 0px;
    mask-image: linear-gradient(rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
   
    
}



