
.hero-section {
    align-items:  center;

}
/* .hero-section > .hero-sky {
    
    
} */

.hero-sky img {
    height: 15vh;
    margin-left: 13%;
    display: block;
    margin-left: auto;
    margin-right: auto;
       
       
}