* {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    list-style: none;
    text-decoration: none;


    
} 

.background {
    background-image: url("../../static/images/Sky.png");
    background-image: url("../../static/images/Sky.png"), linear-gradient(0deg, rgba(180,217,233,1) 0%, rgba(248,242,242,1) 98%);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: 100;
    

    
}




nav {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

    /* border-bottom: 10px solid #E20B17; */
    /* Either keep it as a border, or make it a border that appears on hover
    under items*/

}


.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 80px;
    text-align: center;
    width: 95vw;
    justify-content: center;
    
   

}

nav > ul li a { 
    color: #FBFDFD;
    font-weight: light;
    padding-bottom: 10px;
    transition: all 400ms ease-in-out;
}